{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block homebody %}
<div style="position: relative; display: inline-block;width:100%;margin-bottom:-40px;">
    <img class="card-img-top" src="{% static 'images/reviews/reviews.jpeg' %}" alt="..." />
    <div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center;">
        <p class="pc-builds-header">Reviews</p>
    </div>
</div>  
<div class="mt-5 categroies-div">      
    <center><h2>Subcategories: <a href="#">PC Components Reviews</a> | <a href="{% url "gaming-peripherals-reviews" %}">Gaming Peripherals Reviews</a> | <a href="#">Games Reviews</a></h2></center>
    <br><br><br><br>
    <div class="row">
        {% for review in all_reviews %}
        <div style="padding-bottom:30px;" class="col-lg-3">
            <div>
                <a href="{% url review.slug %}" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)"><img style="border-radius: 5px;" class="card-img-top" src="{{review.image.url}}" alt="..." /></a>
                <div class="card-body">
                    <a class="badge bg-secondary text-decoration-none link-light" style="font-size:10px" href="{% url review.sub_category.slug %}">{{review.sub_category|upper}}</a>
                    <a class="badge bg-secondary text-decoration-none link-light" style="font-size:10px" href="{% url review.main_category.slug %}">{{review.main_category|upper}}</a><br>
                    <div style="margin-bottom:7px"></div>
                    <a href="{% url review.slug %}" style="font-size:20px;" class="card-title h4 review-link">{{review.topic}}</a>
                    <div class="small text-muted"><img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="15" height="15" style="margin-bottom: 3px; margin-right: 5px;"> {{review.date_created|time_ago_format}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock homebody %}