<html>
<head>
    <title>Subscription Confirmed</title>
    <style>
        a {
            font-size:50px;
            font-weight:bolder;
            background-color:whitesmoke;
            text-decoration: none;
            color:#a00000;
            padding:20px;
            border-radius: 5px;
            font-family:sans-serif;
        }            
    
        a:hover {
            background-color:#a00000;
            color:whitesmoke;
        }
    </style>
</head>
<body style="background-color:#a00000;">
    <center><h1 style="color:whitesmoke;font-size:45px;padding-top:80px; font-family:sans-serif;">Congratulation your subscription to the newsletter is confirmed !</h1><center>
    <br><br><br><br><br><br> 
    <a href="{% url "home" %}">Home</a>
</body>
</html>