{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block homebody %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4" style="background : radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);">
            <div class="container">
                <div class="text-center my-5">
                    <section class="wrapper">
                        <div id="stars"></div>
                        <div id="stars2"></div>
                        <div id="stars3"></div>
                    </section>
                    <h1 class="fw-bolder" style="color:white">Welcome to the Gaming Hub</h1>
                    <p class="lead mb-0" style="color:white">The Gamers Paradise</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="padding-top:10px;">  
                    <div class="card mb-4">
                        <a href="{% url one_review.slug %}"><img style="border-radius: 5px;" class="card-img-top" src="{{one_review.image.url}}" alt="..." /></a>
                        <div class="card-body">
                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:12px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url one_review.sub_category.slug %}">{{one_review.sub_category|upper}}</a>
                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:12px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url one_review.main_category.slug %}">{{one_review.main_category|upper}}</a><br>  {% comment %}January 1, 2023 {% endcomment %}
                            <a href="{% url one_review.slug %}" style="font-size:35px;" class="card-title h4 review-link">{{one_review.topic}}</a>  
                            <div style="color:#a00000;margin-top: 12px;margin-left: 2px;" class="small text-muted" > <img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="20" height="20" style="margin-bottom: 4px; margin-right: 5px;"> {{one_review.date_created|time_ago_format}}</div>
                            <div style="margin-bottom:25px;"></div>                  
                            <p class="card-text" style="font-size:20px;">{{one_review.intro}}</p>
                            {% comment %} <a class="btn btn-primary" href="/{{one_review.slug}}">Read more →</a> {% endcomment %}
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    
                </div>
                <!-- Side widgets-->
                <div style="padding-top:7px;" class="col-lg-4">
                    <div style="margin-top:5px;margin-left:1px;" class="divider"></div>
                    <h3>Latest Posts!</h3>
                    {% for review in latest_reviews %}
                        <div class="card mb-4" style="max-width: 540px;margin-bottom: 100px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="{% url review.slug %}" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)"><img style="border-radius: 5px;" class="card-img-top" src="{{review.image.url}}" alt="..." /></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="custom-card-body">
                                        <a href="{% url review.slug %}" style="font-size:18px;" class="card-title review-link">{{review.topic}}</a>
                                    {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
                                    {% comment %} <div class="small text-muted"><img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="20" height="20" style="margin-bottom: 3px; margin-right: 5px;"> {{review.date_created|time_ago_format}}</div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="divider"></div>
            <h3 style="margin-left:12px;padding-bottom:8px;">Trending Now</h3>
            <div class="row"> 
            {% for review in trending_reviews %}
                <div style="padding-bottom:10px;" class="col-lg-3">
                    <div>
                        <a href="{% url review.slug %}" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)"><img style="border-radius: 5px;" class="card-img-top" src="{{review.image.url}}" alt="..." /></a>
                        <div class="card-body">
                            {% comment %} <div class="small text-muted"><img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="20" height="20" style="margin-bottom: 3px; margin-right: 5px;"> {{review.date_created|time_ago_format}}</div> {% endcomment %}
                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:10px" href="{% url review.sub_category.slug %}">{{review.sub_category|upper}}</a>
                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:10px" href="{% url review.main_category.slug %}">{{review.main_category|upper}}</a><br>
                            <div style="margin-bottom:7px"></div>
                            <a href="{% url review.slug %}" style="font-size:20px;" class="card-title h4 review-link">{{review.topic}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div style="width:60px;" class="divider"></div>
                    <h3 style="margin-left:12px;padding-bottom:8px;">Popular Posts</h3>
                    {% for review in popular_posts %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="card mb-10">
                                <a href="{% url review.slug %}" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)"><img style="border-radius: 5px;" class="card-img-top" src="{{review.image.url}}" alt="..." /></a>
                                <div class="card-body">
                                    <a class="badge bg-secondary text-decoration-none link-light" style="font-size:12px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url review.sub_category.slug %}">{{review.sub_category|upper}}</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" style="font-size:12px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url review.main_category.slug %}">{{review.main_category|upper}}</a><br>  {% comment %}January 1, 2023 {% endcomment %}
                                    <a href="{% url review.slug %}" style="font-size:35px;" class="card-title h4 review-link">{{review.topic}}</a><br> 
                                    <div style="color:#a00000;margin-top: 12px;" class="small text-muted" > <img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="20" height="20" style="margin-top: -2.5px; margin-right: 5px;margin-left: 3px;"> {{review.date_created|time_ago_format}}</div>
                                    <div style="margin-bottom:25px;"></div>                  
                                    <p class="card-text" style="font-size:20px;">{{review.intro}}</p>
                                    {% comment %} <a class="btn btn-primary" href="/{{review.slug}}">Read more →</a> {% endcomment %}
                                </div>
                            </div>
                            <hr>
                        {% else %}
                            <div class="card mb-10" style="max-width: 1000px;">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <a href="{% url review.slug %}" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)"><img src="{{review.image.url}}" style="border-radius: 5px;" class="card-img-top" alt="..."></a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:11.5px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url review.sub_category.slug %}">{{review.sub_category|upper}}</a>
                                            <a class="badge bg-secondary text-decoration-none link-light" style="font-size:11.5px;text-decoration: none;color:#a00000;margin-left: 1.5px;" href="{% url review.main_category.slug %}">{{review.main_category|upper}}</a><br> 
                                            <a href="{% url review.slug %}" class="card-title h4 review-link">{{review.topic}}</a>
                                            <div style="color:#a00000; padding-top:10px; padding-bottom:10px;margin-left: 3px;" class="small text-muted" > <img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="20" height="20" style="margin-bottom: 4px; margin-right: 5px;"> {{review.date_created|time_ago_format}}</div>
                                            <p style="font-size:17px" class="card-text">{{review.intro}}</p>
                                            {% comment %} <a class="btn btn-primary mt-auto" href="/{{review.slug}}">Read more →</a> {% endcomment %}
                                            {% comment %} <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-2">
                    <div class="divider"></div>
                    <h3 style="margin-left:12px;padding-bottom:8px;">You May Like</h3>
                    {% for review in you_may_like_reviews %}
                        <div style="margin-bottom:10px;" class="col" onmouseover="zoomImage(this)" onmouseout="unzoomImage(this)">
                            <div class="card">
                                <a href="{% url review.slug %}"><img src="{{review.image.url}}" style="border-radius: 5px;" class="card-img-top" alt="..."></a>
                                <div style="" class="custom-card-body">
                                    <a href="{% url review.slug %}" class="card-title h6 review-link">{{review.topic}}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock homebody %}
<!-- Pagination-->
{% comment %} <nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
        <li class="page-item"><a class="page-link" href="#!">15</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
    </ul>
</nav> {% endcomment %}
