{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block homebody %}
<style>
    p {
        font-size:20px;
        padding-left:200px;
        padding-right:200px;
    }
    h1 {
        margin-top:-10px;
        font-size:50px;    
    }
    h2 {
        font-size:40px;  
        padding-left:200px;
        padding-right:200px;   
    }
    h3 {
        font-size:30px;  
        padding-left:200px;
        padding-right:200px;
    }

    .nested-lists {
        padding-left:250px;
        padding-right:225px;
        font-size:18px;
    }

    @media only screen and (max-width: 767px) {
        p {
            font-size:15px;
            padding-left:30px;
            padding-right:30px;
        }

        .nested-lists {
            padding-left:60px;
            padding-right:50px;
            font-size:13px;
        }

        h1 {
            margin-top:-10px;
            font-size:50px;    
        }
        h2 {
            font-size:40px;  
            padding-left:30px;
            padding-right:30px;    }
        h3 {
            font-size:30px;  
            padding-left:30px;
            padding-right:30px;
            }
    }
</style>
<br>
<center><h1>Privacy Policy</h1></center>
<br>
<p>
This Privacy Policy outlines the information practices of TheGamingHub ("TheGamingHub," "we," "us," or "our") concerning the collection, use, and disclosure 
of personal information when you visit our website, thegaminghub.blog ("Site"). It also explains your rights regarding your personal information and how 
you can control certain uses of it.
By accessing or using our Site, you consent to the collection, use, and disclosure of your personal information as described in this Privacy Policy. 
Please ensure to also review our Terms of Use, as they are incorporated by reference. If you do not agree with the terms outlined in this Privacy Policy, 
please refrain from accessing or using our Site.
</p>
<h2>Personal Information We Collect</h2>

<h3>Information Provided by You</h3>
<p>
    We collect personal information from you when you voluntarily share it with us. This may occur when you use our Site, subscribe to newsletters or our email list, 
    participate in giveaways or promotions, fill out surveys, request support or information, or engage in any other form of communication with us. The personal 
    information we collect may include your name, address, email address, telephone number, date of birth, and gender.
</p>

<h3>Information Provided Through Social Media</h3>
<p>
    Additionally, the Site might offer you the opportunity to link to your Facebook account or another social media account. If you want to use those 
    third-party services, we might automatically obtain certain information about you based on your registration information and privacy choices. 
    Names, user names, demographic data, location, interests, and publicly-observed information such as from social media and online activity may be 
    included in this, but it's not the only thing to have.
</p>

<h3>Information Automatically Collected</h3>
<p>
    A range of technologies, including cookies, pixel tags, log files, and others, may be used by us to gather specific data about users of our site 
    and their interactions with our emails and online ads. This data also enables us to monitor analytics and other statistical data.
    <br>
    We may automatically gather certain non-personal information from you, for instance, the type of browser you use, the type of device you use to access the Site, 
    its operating system, carrier information, software version, Internet Protocol ("IP") address, geolocation, phone model, phone operating system, and the domain 
    name from which you accessed the Site. Additionally, we might gather data about how you use the site, such as the time and date of your visits, the sections or 
    pages you view, how long you spend viewing or using the site, how often you return, other click-stream or site usage data, emails you open, 
    and forward or click through to our website and any other websites you could go to.
    <br>
</p>
<p>
<strong>Third-Party Service Providers</strong><br>
To maintain our website, we might work with outside service providers. To receive, gather, and store data, some of these service providers might make use of 
technologies like cookies, web beacons, pixel tags, log files, or other technologies.
</p>
<br>
<p>
<strong>Third-Party Analytic Technologies</strong><br>
    In order to better understand who uses the site, how people use it, how to make the site and related content more effective, and to help us or those 
    third parties present you with more targeted advertising throughout the Internet, we may use the analytics and tracking tools provided by third parties. 
    These tools may gather and store non-personal data using technologies like cookies, web beacons, pixel tags, log files, or other technologies. 
    Additionally, they could blend data they get from other sources with information they get from your interactions with the site. The use of 
    cookies and other tracking technologies by these third parties is outside our control and is not subject to our knowledge.
</p>

<h3>Mediavine Programmatic Advertising (Ver 1.1):</h3>
<p>
    The Website collaborates with Mediavine to oversee third-party interest-based advertising displayed on the Website. When you browse the Website, 
    Mediavine delivers content and ads, which may utilize both first and third-party cookies. These cookies, small text files sent to your computer 
    or mobile device by the web server, enable the Website to retain certain information about your browsing behavior.
    <br><br>
    First-party cookies originate from the website you're currently visiting, while third-party cookies, often used in behavioral advertising and analytics, 
    come from a domain different from the site you're on. Additionally, third-party technologies like tags, pixels, and beacons may be employed on the Website 
    to track interactions with advertising content and refine targeting and optimization. Most internet browsers offer settings to block both first and 
    third-party cookies and clear your browser's cache. Instructions on managing cookies can typically be found in the "help" section of your browser's menu bar.
    <br><br>
    Disabling cookies may limit your access to the full range of content and features on the Website. However, declining cookies does not mean you won't 
    encounter ads during your visit. Even if you opt out, non-personalized ads will still be displayed on the Website.
    <br><br> 
    When personalized ads are served, the Website collects the following data through cookies:
    <br>
    <ul class = "nested-lists">
        <li>IP Address</li>
        <li>Type of Operating System</li>
        <li>Operating System Version</li>
        <li>Device Type</li>
        <li>Website Language</li>
        <li>Web Browser Type</li>
        <li>Email (in hashed form)</li>
    </ul>
</p>

<h3>Information Collected From Other Sources:</h3>
<p>
    To update or supplement the data you give us or the data we automatically gather, we might obtain data from other reliable sources 
    (such as data to validate or update your address or other demographic and lifestyle data). In order to notify you of goods, services, 
    or other offers that could be of interest to you, as well as for internal business analysis and other business needs, we may use your information 
    to help us maintain the accuracy of the data we collect.
</p>

<h3>Combination of Information:</h3>
<p>
    We may merge the data we get from and about you, including data you give us and data we automatically gather via our website, 
    in addition to data we get offline, from other computers or devices you may use, and from outside sources.
</p>

<h2>How We Use Your Information</h2>

<p>
We may use the information collected from and about you for various purposes, including:
<br>
<ul class = "nested-lists">
    <li>Responding to your inquiries, and contacting and communicating with you as needed.</li>
    <li>Evaluating the usage and functionality of our website, developing new products or services, and conducting analyses to enhance or improve our content, products, and services.</li>
    <li>Providing you with tailored content, personalized offers, and, through email or across other platforms like social media or online services.</li>
    <li>Sending you information, newsletters, and promotional materials from us or our partners and affiliates.</li>
    <li>Utilizing your data in an aggregated, non-specific format for analytical and demographic purposes.</li>
    <li>Addressing issues with our website or business operations, and safeguarding the security and integrity of both.</li>
    <li>Employing your information for other purposes mentioned at the time you provide your information or as otherwise agreed upon with your consent.</li>
</ul>
<p>Additionally, if you connect with third-party services through our Site, we may use your information to interact with these services on your behalf.</p>
</p>

<h2>Information Sharing</h2>

<p>
    Here's how we may share the information we collect from you:
    <ul class = "nested-lists">
        <li><strong>Affiliates:</strong> We might share your information with our affiliates and subsidiaries for various business, operational, promotional, and marketing purposes.</li>
        <li><strong>Service Providers:</strong> Your information may be shared with third-party service providers that assist us with business operations, technical support functions, or the management of our website and business activities.</li>
        <li><strong>Sweepstakes, Contests, and Promotions:</strong> If you participate in any promotions we offer, we may disclose your information to third parties as necessary for administering the promotion, complying with legal requirements, or as outlined in the promotion's official rules.</li>
        <li><strong>Other Third Parties:</strong> We may share your information with select partners, affiliates, and other third parties whom we believe may have offers that could be of interest to you.</li>
        <li><strong>Legal Matters and Safety:</strong> Your information may be accessed and disclosed in response to legal processes, government requests, or investigations related to public safety. We may also disclose your information to protect the security of our website, servers, and network systems, or to enforce our terms of use or other legal agreements.</li>
        <li><strong>Sale or Transfer of Business or Assets:</strong> In the event of a sale, merger, or transfer of our business or assets, your information may be transferred to the acquiring entity. If we undergo bankruptcy or reorganization proceedings, your information may be considered an asset and could be sold or transferred to third parties.</li>
        <li><strong>Aggregate or Anonymous Non-Personal Information:</strong> We may share aggregated or anonymous non-personal information with third parties for marketing or analytics purposes.</li>
        <li><strong>Other:</strong> We may share your information as disclosed to you at the time of collection or with your consent.</li> 
    </ul>
</p>

<h2>Your Choices and Opt-Outs</h2>

<p>
    <strong>Cookies, Tracking Options, and California Do Not Track Disclosures</strong>
    <br><br>
    Certain sections of our website rely on cookies. While you have the freedom to adjust your browser or operating system settings to limit tracking or 
    reject cookies, please note that doing so might restrict access to certain features or limit your ability to fully utilize all of our services. 
    For guidance on managing cookies or controlling tracking preferences, please consult your browser or operating system's website or "Help" section.
    <br><br>
    Please be aware that our system may not honor Do Not Track requests or headers from some or all browsers. We may utilize cookies or similar 
    technologies to deliver more personalized advertising and to connect data collected across multiple devices that you may use. To understand your 
    options for receiving tailored advertising or managing your preferences, please refer to the following information:
    <br>
    <ul class = "nested-lists">
        <li>To learn more about how cookies or similar technologies are used for targeted advertising and to exercise your choices regarding data collection and usage by these third-party tools.</li>
        <li>If you prefer to prevent Google Analytics from using your data, Google offers an opt-out browser add-on, which you can access  <a href="https://tools.google.com/dlpage/gaoptout/" style="color:#a00000;text-decoration: underline;">here</a>.</li>
        <li>Additionally, on your mobile device, you can adjust privacy and advertising settings to control whether you receive personalized advertising.</li>
    </ul>
    <br>    
    <p>
        <strong>Opt-Out Preferences</strong>
        <br><br>
        We offer our users the ability to update their information or opt-out of having their data used for purposes not directly related to order placement, 
        processing, fulfillment, or product servicing. To opt-out of marketing communications, you can:
    </p>
    <br>
    <ul class = "nested-lists">
        <li>Send an email to thegaminghub.team@gmail.com</li>
        <li>Reach out to us via our contact form on the "Contact" page.</li>
        <li>Unsubscribe from our email communications at any time by following the instructions provided within the email.</li>
    </ul>
    <p>
        If you receive marketing communications from multiple affiliates, you must opt-out individually from each affiliate sending brand-specific marketing 
        communications.
    </p>
</p>

<h2>Third-Party Content, Links, and Plugins</h2>

<p>
    There might be links on the Site to external websites, and those websites might have privacy policies that are different from ours. 
    We have no control over the actions of these websites.
    <br><br>
    You might be able to interact with social plugins from social media sites through the Site, which could give us and/or the social media site access 
    to information about you. In rare circumstances, we might be aware that you clicked on a social plugin—like a Twitter follow button—or that you obtained 
    additional data from the social media platforms. Likewise, if a third party running a plug-in on this website has previously received personal 
    information from you, they might be able to identify you on this website. The privacy rules of each social networking site may differ from ours, 
    so please carefully read their policies to understand their policies and your alternatives before using social network plugins. Similar to linked websites,
</p>

<h2>Children's Privacy</h2>

<p>
    We believe that privacy protection for children is crucial. We do not intentionally target children under the age of thirteen with the Site, nor do we 
    knowingly collect any personal information from them. We will make a good faith attempt to delete any personally identifiable information that a child 
    under the age of thirteen may have submitted to the Site from our records.
</p>

<h2>Data Security</h2>

<p>
    In order to protect the data we gather from and about our clients and site users, we have implemented a number of technical, administrative, and physical safeguards. 
    We strive to maintain the integrity and security of our systems and network, but we are unable to guarantee the efficacy of our security protocols.
</p>

<h2>Data Storage</h2>

<p>
    Your personal information might be kept on US servers and be governed by US laws, which may differ from those of other nations in terms of data protection 
    and other legislation. Your personal information might be shared in response to requests or inquiries from governmental bodies, 
    or in order to comply with legal requirements in the nations where we do business.
</p>

<h2>Revisions to this Privacy Policy</h2>

<p>
    We reserve the right to alter, add to, remove, or otherwise adjust any part of this privacy policy at any time, at our sole discretion. As soon as we do
    , we'll update the date at the top of this privacy policy and post the modification(s) on the site. After modifications to these terms are posted, 
    you agree to the changes if you keep using the site. We will give you the necessary notice if we make any significant changes to the Privacy Policy.
</p>

<h2>Contact Us</h2>

<p>If you have any questions or concerns regarding this Privacy Policy or our practices, please contact us at thegaminghub.team@gmail.com</p>
<br><br>
{% endblock homebody %}